<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Start Libraries -->
<link href="https://fonts.googleapis.com/css?family=Francois+One|Oswald"
	rel="stylesheet">
<link rel="stylesheet" href="indexStylesheet.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	<script type="text/javascript" src="bootstrap.min.js"></script>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery-confirm.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">


<!-- Icons -->
<script defer
	src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>


<!-- End Libraries -->
<title>Descargas</title>
</head>
<body
	style="font-family: 'Francois One', sans-serif; background: LemonChiffon;">

	<!-- Start nav bar -->
			<% include ../partials/nav.ejs %>

	<!-- End nav bar -->


	<div id="content">
		<div class="row" style="padding-left: 5%; padding-right: 5%;">
			<div class="col-md-6" style="background: #a4c639;">
				<h2>Android</h2>
				<div>Descargar la App de Qr propiedades para dispositivos
					android.</div>
					<br>
				Podrás acceder a todos los datos de los códogos QR gratuitamente,
				descargando el software por acá, o buscando el mismo por google
				play, el usar el software trae aparejado que se pueden ver las
				imagenes desde el mismo, si no se usa nuestra App provista sólo
				podrá observar datos, sin tener en cuenta las imágenes que no serán
				visibles desde otra App que no sea la nuestra.
				<a src="download">Descargar QR propiedades desde nuestra web.</a>
				<button type="btn btn-success btn-lg">
					<i class="fab fa-android fa-5x"></i>
				</button>
			</div>

			<div class="col-md-6" style="background: #999999;">
				<h2>I.OS (Apple)</h2>
				<div>Descargar la App de Qr propiedades para dispositivos IOS.</div>
				<br>
				Podrás acceder a todos los datos de los códogos QR gratuitamente, descargando el software por acá, o buscando el mismo por , el usar el software trae aparejado que se pueden ver las imagenes desde el mismo, si no se usa nuestra App provista sólo podrá observar datos, sin tener en cuenta las imágenes que no serán visibles desde otra App que no sea la nuestra. 
				<br>
				<br>
			
				
				<button type="btn btn-success btn-lg">
					<i class="fab fa-apple fa-5x"></i>
				</button>

			</div>

		</div>
	</div>


	</div>

	<!-- Start Footer -->
	<div class="footer">
		<footer class="footer-info">
			Todos los derechos reservados para
			<kbd>QR-Propiedades.com</kbd>
			| Diseñado y mantenido por
			<kbd>
				<a href="http://molokotech.com">Molokotech Solutions</a>
			</kbd>
			.
		</footer>
	</div>
</body>
</html>