<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Start Libraries -->
<link href="https://fonts.googleapis.com/css?family=Francois+One|Oswald"
	rel="stylesheet">
<link rel="stylesheet" href="indexStylesheet.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	<script type="text/javascript" src="bootstrap.min.js"></script>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery-confirm.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">


<!-- Icons -->
<script defer
	src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>


<!-- End Libraries -->
<title>Misión y visión de la empresa</title>
</head>
<body style="background:LemonChiffon; font-family: 'Francois One', sans-serif;">


			<% include ../partials/nav.ejs %>



	<div id="content" class="row" style="background-color: #1abc9c;">
		<div class="col-sm-7" style="padding-top: 25px; padding-left:45px;">
			<div style="padding: 20px;" class="bg-light">
				<dl>
					<dt>
						<h4>Misión:</h4>
					</dt>
					<dd class="text-justify">Brindar un servicio tecnológico de
						información de excelencia para acercar a nuestros clientes
						potenciales consumidores. Satisfacer en sobremanera lo que espera
						un cliente de nuestra marca. Inspirar confianza en nuestro
						sistema. Crear valor en nuestros servicios.</dd>


					<dt>
						<h4>Visión:</h4>
					</dt>
					<dd class="text-justify">Ofrecer un servicio de la más alta
						calidad técnica, apostando siempre a las últimas tecnologías,
						manteniendo un dinamismo en la aplicación de nuevas tecnologías.
						Productividad y actualizaciones tecnológicas para ser cada vez más
						una organización eficaz y dinámica.</dd>

					<dt>
						<h4>Valores:</h4>
					</dt>
					<dd class="text-justify">Implementar nuevas tecnologías sin
						importar su dificultad de implementación. Potenciar el talento
						colectivo de nuestros empleados. Responsabilidad por sobre todas
						las cosas. Pasión por los avances tecnológicos. Calidad por sobre
						todas las cosas.</dd>
				</dl>
			</div>
		</div>
		<div class="col-sm-5" style="padding-top: 25px; padding-left:5px;">
			<div style="padding:20px;">
				<img alt="Misión/Visión" src="missionVision.png">
			</div>
		</div>
	</div>

	<!-- Start Footer -->
	<div class="footer" style="margin-top:20px;">
		<footer class="footer-info">
			Todos los derechos reservados para
			<kbd>QR-Propiedades.com</kbd>
			| Diseñado y mantenido por
			<kbd>
				<a href="http://molokotech.com">Molokotech Solutions</a>
			</kbd>
			.
		</footer>
	</div>
</body>
</html>