<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<!-- Start Libraries -->
<link href="https://fonts.googleapis.com/css?family=Francois+One|Oswald"
	rel="stylesheet">
<link rel="stylesheet" href="indexStylesheet.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	<script type="text/javascript" src="bootstrap.min.js"></script>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery-confirm.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

<!-- Icons -->
<script defer
	src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

<!-- End Libraries -->
<title>Real State QR Manager</title>
</head>

<script type="text/javascript">
	function play() {
		$.alert({
			title : 'Alert!',
			content : 'Simple alert!',
			confirm : function() {
				$.alert('Confirmed!'); // shorthand.
			}
		});
	}
</script>

<!-- Start Body -->
<body style="background-color: LemonChiffon; font-family: 'Francois One', sans-serif;">
	<!-- Start nav bar -->
				<% include ../partials/nav.ejs %>

	<!-- End nav bar -->


	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row text-center">
			<div class="col-sm-3">
				<div class="card" style="text-shadow: 0px 0px 10px white;">
					<div class="card-body rounded bg-light"
						style="box-shadow: 0px 10px 10px 10px grey;">
						<div>
							<img alt="Pequeños emprendedores" src="babyBanner.png"
								class="img-fluid">
						</div>
						<div>
							<h4 class="card-title">Plan Baby</h4>
						</div>
						<p class="card-text">Plan ideal para aquellos que sólo quieren
							tener unas pocas propiedades en exposición, o que su vez no
							pretendan depender de la tecnología.</p>
						<img alt="Cantidad de QR por usuario" src="src/img/burbujaQR.png"
							class="img-fluid">
						<p class="card-text">
							<strong>Máximo 15 QR en DB 
						</p>
						</strong>
						<p class="card-text">
							<strong>Soporte Lu a vi de 9 a 18hs 
						</p>
						</strong> <br>
						<button type="button" class="btn btn-primary btn-lg"
							style="box-shadow: 0px 0px 15px;" data-toggle="tooltip"
							title="Plan Baby" onclick="play()">Contratar</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card" style="text-shadow: 0px 0px 10px white;">
					<div class="card-body rounded bg-info"
						style="box-shadow: 0px 10px 10px 10px grey;">
						<div>
							<img alt="Emprendedores" src="starterBanner.png"
								class="img-fluid">
						</div>
						<h4 class="card-title">Plan Starter</h4>
						<p class="card-text">Plan ideal para aquellos que no sólo
							quieren avanzar en la venta de sus inmuebles sino también en la
							exposición de su marca.</p>
						<img alt="Cantidad de QR por usuario" src="src/img/burbujaQR.png"
							class="img-fluid">
						<p class="card-text">
							<strong>Máximo 15 QR en DB 
						</p>
						</strong>
						<p class="card-text">
							<strong>Soporte Lu a vi de 9 a 18hs 
						</p>
						</strong> <br>
						<button type="button" class="btn btn-warning btn-lg"
							style="box-shadow: 0px 0px 15px white;" data-toggle="tooltip"
							title="Plan Baby" onclick="play()">Contratar</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card" style="text-shadow: 0px 0px 10px white;">
					<div class="card-body rounded bg-warning"
						style="box-shadow: 0px 10px 10px 10px grey;">
						<div class="rounded">
							<div>
								<img alt="" src="advancedBanner.png" class="img-fluid">
							</div>
							<h4 class="card-title">Plan con volumen</h4>
						</div>
						<p class="card-text">Plan ideal para emprendedores que
							apuestan a la difusión y marketing de su marca, como también
							apuestan fuerte al avance tecnológico y utilizan como uno de sus
							pilares de su crecimiento.</p>
						<img alt="Cantidad de QR por usuario" src="burbujaQR.png"
							class="img-fluid">
						<p class="card-text">
							<strong>Máximo 55 QR en DB</strong>
						</p>
						<p class="card-text">
							<strong>Soporte 365/24/07</strong>
						</p>
						<button type="button" class="btn btn-primary btn-lg"
							style="box-shadow: 0px 0px 15px;" data-toggle="tooltip"
							title="Plan Baby" onclick="play()">Contratar</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card" style="text-shadow: 0px 0px 10px white;">
					<div class="card-body rounded bg-success"
						style="box-shadow: 0px 10px 10px 10px grey;">
						<div>
							<img alt="" src="premiumBanner.png" class="img-fluid">
						</div>
						<div class="rounded">
							<h4>Grandes empresas</h4>
						</div>
						<p class="card-text">Plan ideal para empresas con gran volumen
							de propiedades.</p>
						<br> <img alt="Cantidad de QR por usuario"
							src="qrIcon.png" class="img-fluid">
						<p class="card-text">
							<strong>Máximo +70 QR en DB</strong>
						</p>
						<p class="card-text">
							<strong>Soporte 365/24/07</strong>
						</p>
						<button type="button" class="btn btn-danger btn-lg"
							style="box-shadow: 0px 0px 15px;" data-toggle="tooltip"
							title="Plan Baby" onclick="play()">Contratar</button>
					</div>
				</div>
			</div>

			<!-- Start Footer -->
			<div class="footer" style="margin-top: 40px">
				<footer class="footer-info">
					Todos los derechos reservados para
					<kbd>QR-Propiedades.com</kbd>
					| Diseño y mantenimiento por
					<kbd>
						<a href="http://molokotech.com">Molokotech Solutions</a>
					</kbd>
					.
				</footer>
			</div>
</body>
</html>