<!DOCTYPE html>
<html>
<head>
<!-- Dev AAB modified 22/02/2018 -->
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Start Libraries -->
<link href="https://fonts.googleapis.com/css?family=Francois+One|Oswald" rel="stylesheet">
<link rel="stylesheet" href="indexStylesheet.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
<script type="text/javascript" src="bootstrap.min.js"></script>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery-confirm.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

<!-- Awesome Fonts Icons -->
<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

<!-- Google Icons Material Design -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- JQuery library for transitions -->
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

<!-- End Libraries -->


<!-- Google maps -->

<title>QR form</title>
   <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */

    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>

      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
      #map {
      border-radius: 7px;
        height: 100%;
        width: 100%;
        -webkit-box-shadow: 10px 10px 20px 5px rgba(133,133,133,1);
		-moz-box-shadow: 10px 10px 20px 5px rgba(133,133,133,1);
		box-shadow: 10px 10px 20px 5px rgba(133,133,133,1);
      }
      #containerDiv{
	      background-color:rgba(255,255,255, 0.3);
	      margin-left: 20px;
	      margin-right: 20px;
	      margin-bottom: 20px;
	      padding-left: 20px;
	      padding-right: 20px;
	      padding-bottom: 20px;

      }
      #containerCustomLink{
      	  background-color:rgba(255,255,255, 0.3);
	      margin-left: 20px;
	      margin-right: 20px;
	      margin-bottom: 20px;
	      padding-left: 20px;
	      padding-right: 20px;
	      padding-bottom: 20px;

      }
      #containerSelectorDestiny{
	      background-color:rgba(255,255,255, 0.3);
	      margin-left: 20px;
	      margin-right: 20px;
	      margin-bottom: 20px;
	      padding-left: 20px;
	      padding-right: 20px;
	      padding-bottom: 20px;
      }
    </style>
  <!-- Google maps css-->

</head>
<body>


	<!-- Start nav bar -->
				<% include ../partials/nav.ejs %>

	<!-- End nav bar -->


	<div id="content" class="bg-warning">
	<div id="destinyQrDiv">
	
	<!-- Pruebas de push a remoto por AAB -->

	<div class="container" id="containerSelectorDestiny">
	<br>
	<h3>El código QR debe contener:</h3>
	<hr>
		<div class="row" style="padding:20px;" >
		<div class="col-xs-2">
			<label for="selectDestiny"></label>
			<select id="selectDestiny" class="form-control" onchange="" >
				<option selected="selected" disabled>Seleccione una acción.</option>
				<option>La ruta directa a los datos de la propiedad provista por QR-prop.</option>
				<option>La ruta a un link externo provisto por mi.</option>
			</select>
			<br>
			<button type="button" class="btn btn-primary" onclick="helpYouChoose()" ><span>Ayudarme a elegir</span></button>
			
			<script>
				function helpYouChoose(){
					  $.alert({
						  type: 'blue',
						    title: 'Cuál elegir?',
						    content: 'El código QR provée una ruta hacia un sitio determinado, nosotros damos la opción de que se cree el QR y puedan colocar la dirección que el cliente desee, por ejemplo la ruta de su inmobiliaria, o la ruta de un sitio externo que tenga todos los datos de la propiedad en cuestión, o la opción por defecto, que es <strong>la ruta hacia nuestra nube</strong>,  de cualquiera de las siguientes maneras se puede crear los QR con iguales beneficios.   ',
						});
				}
			</script>
			
			</div>
		</div>
	</div>
	
	<div id="transition"></div>
	
	<div id="containerCustomLink" class="container">
		<label id="labelCustomLink" ><strong>Ingrese la ruta del Código QR:</strong></label>
		<input type="text" class="form-control" ></input>
		<br>
		<button type="submit" class="btn btn-primary" onclick="createQrNow()" >Crear QR <i class='fas fa-qrcode'></i></button>	
	</div>
	
		<div class="row-fluid" id="containerDiv">

				<form action="#">
					
					<div class="form-group">
					<br>
					<h3>Añadir imágenes:</h3>
				<hr>
					<label class="btn btn-primary btn-file"><i class="material-icons">add_a_photo</i><input  type="file" hidden></input></label>

					</div>
				
					
					<br>
					<h3>Estado comercial y requisitos</h3>
					
					<hr>
					<div class="row">
						<div class="form-group col-md-2">
							<label for="status">Estado comercial</label>
							  <select class="form-control" id="status">
							    <option>Venta</option>
							    <option>Alquiler</option>
							    <option>Vendido</option>
							    <option>Alquilado</option>
							    <option>Reservado</option>
							  </select>
						</div>

						
							<div class="form-group col-md-2">
								<label for="status">Apto Crédito</label>
								  <select class="form-control" id="status" onchange="credit()">
								    <option>No</option>
								    <option>Si</option>
								  </select>
							</div>
							
							<div class="form-group col-md-2">
								<label for="change">Moneda</label>
								  <select class="form-control" id="change" onchange="dollarValueShow()">
								    <option>Pesos</option>
								    <option>USD</option>
								  </select>
								  
								  <div id="dollarValueDiv"></div>
								  
								  <script>
								  
								  function dollarValueShow(){
									  var change = document.getElementById("change");
									  var dollarValueDiv = document.getElementById("dollarValueDiv");
									  
									  if(change.value == "USD"){
										  dollarValueDiv.innerHTML = "<span class='badge badge-success' onclick='dollarValue()' >Cotización dolar</span>" 
									  }else if(change.value == "Pesos"){
										  dollarValueDiv.innerHTML = "";
									  }
									  
								  }
								  
								  function dollarValue(){
									  $.alert({
										  type: 'green',
										    title: '<i class="far fa-money-bill-alt"></i> Cotización del Dólar',
										    content: 'Las siguientes direcciones web pueden darle a conocer el valor actual del dólar. Nosotros no inferimos ni participamos en la cotización de dichas fuentes.<br><a target="_blank" href="http://www.dolarhoy.com">www.dolarhoy.com</a><br><a target="_blank"href="https://www.dolarsi.com/" >www.dolarsi.com</a> ',
										});
								  }
								  </script>
							</div>
							
							<div class="form-group col-md-2">
							<label for="price">Precio</label>
								<input type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="price" />
							</div>
						</div>
						
						<div id="alertCreditDiv"></div>
						
						<script>
						function credit(){
							var statusSelect = document.getElementById("status");
							var alertCreditDiv = document.getElementById("alertCreditDiv");
							if(statusSelect.value == "Si"){
								alertCreditDiv.innerHTML = "<div class='alert alert-info text-center' role='alert' id='alertCredit'> Probablemente le consulten las condiciones del Crédito, si no las conoce delegue la respuesta a la entidad financiera pertinente</div>";
							}else{
								alertCreditDiv.innerHTML = "";
							}
						}
						</script>
					<br>
					<h3>Ubicación</h3>
					<hr>
					<div class="row">
					
						<div class="form-group col-md-6">
							<label>Dirección <i class="fas fa-road"></i> <i style="color:lightgrey;">(Escriba la calle, luego la altura y finalmente la localidad.)</i></label>
							<input type="text" placeholder="Avenida Rivadavia 2320, Buenos Aires, Argentina" class="form-control" id="autocomplete" onFocus="geolocate()" />
						<input type="checkbox" id="checkboxManualDirection" onchange="manualDirection()" >No encuentro la dirección en el <i>autocompletado inteligente, ingreso manual</i>.</input>
												<br>
						<br>
							<label>Dirección <i class="fas fa-road"></i></label> <i style="color:lightgrey;">(Dirección manual, luego la busca en el mapa)</i>
							<input type="text" placeholder="Av. Pueyrredon" class="form-control" id="manualAddress" disabled/>
						
						<script type="text/javascript">
						
						function manualDirection(){
							var autocomplete = document.getElementById("autocomplete");
							var checkboxManualDirection = document.getElementById("checkboxManualDirection");
							var manualAddress = document.getElementById("manualAddress");
							
							if(checkboxManualDirection.checked){
								autocomplete.disabled = true;
								manualAddress.disabled = false;
							}else{
								autocomplete.disabled = false;
								manualAddress.disabled = true;
							}
							
							$.alert({
								
								columnClass: 'medium',
								type: 'blue',
							    title: 'Desactivar autocompletado',
							    content: 'Si desactiva este campo de búsqueda inteligente proveído por "Google" podrá continuar con un campo en el cual se ingresan los datos sin autocompletado por ende no importa el orden de aparición de las partes de la dirección, sólo procure poner la dirección exacta, así es facil localizarlo. ',
							    buttons: {
							        confirm: function () {							   
							            $.alert({
							            		title: '<i class="fas fa-exclamation-triangle text-danger"></i> Atención', 
							           			type: 'red',
							           			content: 'Recuerde que en este segundo campo de texto no aparecerá automáticamente la dirección en el mapa, sino que hay que buscarla manualmente.',	
							            });
							        },
							        cancel: function () {
							           
							        }
							    }
							});
							     
							
						}
						
						</script>

						<br>
							<label>Entre calles? <i class="fas fa-compress"></i></label> <input type="text"
								placeholder="Av. Pueyrredon y missiones" class="form-control" /><br>
						
							<label for="cornerSelect" onchange="corner()">En ochava </labe11l><i class="material-icons">rounded_corner</i>
							  <select class="form-control" id="cornerSelect">
							    <option>No</option>
							    <option>Si</option>
							  </select>
							  
						<div id="modalCornerDiv"></div>
							  
						<script>
						function corner(){
							var cornerSelect = document.getElementById("cornerSelect");
							var modalCornerDiv = document.getElementById("modalCornerDiv");
							if(cornerSelect.value == "Si"){
								modalCornerDiv.innerHTML = "<div class='alert alert-info text-center' role='alert' id='alertCredit'> Esta opción es controlada por el usuario.</div>";
							}else{
								modalCornerDiv.innerHTML = "";
							}
						}
						</script>
					
					</div id="mapContentDiv">
							<div class="form-group col-md-6" style="height:300px; width:550px;  margin: 0 auto 0 auto;">
								<div id="map" class="img-responsive"></div>
							</div>
					</div>
						
						
				
				<br>
				<h3>Tipo de inmueble</h3>
					<hr>
					<div class="row">
						<div class="form-group col-md-4">
						
						<label for="propertyType" id="propertyTypeLabel">Tipo de inmueble: <i class='far fa-window-minimize'></i><i class='far fa-window-minimize'></i><i class='fas fa-home'></i><i class='far fa-window-minimize'></i><i class='far fa-window-minimize'></i></label>
						  <select class="form-control" id="propertyType" onchange="apartmentType(), propertyTypeIcon()">
						    <option>Casa</option>
						    <option>Departamento</option>
						    <option>Departamento/apto profesional</option>
						    <option>Ph</option>
						    <option>Duplex</option>
						    <option>Galpón</option>
						    <option>Galpón con vivienda</option>
						    <option>Local comercial</option>
						    <option>Estructura Institucionnal en gral.</option>
						    <option>Estructura industrial en gral.</option>
						    <option>Estructura educacional en gral.</option>
						    <option>Terreno</option>
						    <option>Otro</option>
						  </select>
						
						<div id="apartmentDiv">
						  
						</div>
						
						<script type="text/javascript">
						function apartmentType(){
							var propertyType = document.getElementById("propertyType");
							var apartmentDiv = document.getElementById("apartmentDiv");
							var floor = document.getElementById("floor");
							var unity = document.getElementById("unity");
							
							if(propertyType.value == "Departamento" || propertyType.value == "Departamento/apto profesional" || propertyType.value == "Ph"){
								apartmentDiv.innerHTML = "<label>Piso</label> <input type='number' class='form-control' placeholder='1,2,3,4,5, etc' id='floor'/><label>Unidad</label> <input type='text' class='form-control' placeholder='A, B, 14, 4 etc' id='unity'/>";
							}else{
								apartmentDiv.innerHTML = "";
							}
							
						}
						
						function propertyTypeIcon(){
							var propertyType = document.getElementById("propertyType");
							var propertyIconLabel = document.getElementById("propertyIconLabel");
							
							if(propertyType.value == "Casa" || propertyType.value == "Duplex"){
								propertyTypeLabel.innerHTML = "Tipo de inmueble: <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i><i class='fas fa-home'></i><i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i>";

							}
							
							if(propertyType.value == "Ph" || propertyType.value == "Departamento" || propertyType.value == "Departamento/apto profesional"){
								propertyTypeLabel.innerHTML = "Tipo de inmueble: <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i> <i class='far fa-building'></i> <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i>";

							}
							
							if(propertyType.value == "Galpón" || propertyType.value == "Galpón con vivienda" || propertyType.value == "Estructura industrial en gral."){
								propertyTypeLabel.innerHTML = "Tipo de inmueble: <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i> <i class='fas fa-industry'></i> <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i>";

							}
							
							if(propertyType.value == "Estructura educacional en gral."){
								propertyTypeLabel.innerHTML = "Tipo de inmueble: <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i> <i class='fas fa-university'></i> <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i>";

							}
							
							if(propertyType.value == "Estructura Institucionnal en gral."){
								propertyTypeLabel.innerHTML = "Tipo de inmueble: <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i> <i class='material-icons'>business</i> <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i>";

							}
							
							if(propertyType.value == "Local comercial"){
								propertyTypeLabel.innerHTML = "Tipo de inmueble: <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i> <i class='material-icons'>store_mall_directory</i> <i class='far fa-window-minimize text-success'></i><i class='far fa-window-minimize text-success'></i>";

							}
						
							if(propertyType.value == "Terreno"){
								propertyTypeLabel.innerHTML = "Tipo de inmueble: <i class='far fa-window-minimize'></i><i class='far fa-window-minimize'></i><i class='fas fa-tree text-success'></i><i class='far fa-window-minimize'></i><i class='far fa-window-minimize'></i>";

							}
							
							if(propertyType.value == "Otro"){
								propertyTypeLabel.innerHTML = "Tipo de inmueble: <i class='fas fa-question'></i>";

							}
						}
						</script>
						
						  
						</div>
					</div>	
				
				<br>
				<h3>Medidas totales, antiguedad y condición</h3>
				<hr>
				<div class="row">
					<div class="form-group col-md-5">
						
						<label>Antiguedad en años</label>  <i class="fas fa-birthday-cake"></i><input type="number" class="form-control .col-lg-1" /><br>
						
						<label for="statusSelect" id="statusSelectLabel">Condoción del inmueble:</label>
						  <select class="form-control" id="statusSelect" onchange="constructionProcess(), statusIcon()">
						    <option>A estrenar</option>
						    <option>Muy Bueno</option>
						    <option>Bueno</option>
						    <option>Regular</option>
						    <option>A reciclar</option>
						    <option>Precario</option>
						    <option>En proceso de construcción</option>
						  </select><br>
						
						<div id="constructionProcessDiv"></div>
						  
						<script>
						function constructionProcess(){
							var statusSelect = document.getElementById("statusSelect");
							var constructionProcessDiv = document.getElementById("constructionProcessDiv");
							
							if(statusSelect.value == "En proceso de construcción"){
								constructionProcessDiv.innerHTML = "<div><label>Fecha de finalización</label> <input class='form-control' id='date' type='date'></div><br>";
							}else{
								constructionProcessDiv.innerHTML = "";
							}
							
						}
						function statusIcon(){
							var statusSelect = document.getElementById("statusSelect");
							var statusSelectLabel = document.getElementById("statusSelectLabel");
							if(statusSelect.value == "En proceso de construcción"){
								statusSelectLabel.innerHTML = "Condoción del inmueble: <i class='fas fa-question'></i>";
							}
							if(statusSelect.value == "A estrenar"){
								statusSelectLabel.innerHTML = "Condoción del inmueble: </i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i>";
							}
							if(statusSelect.value == "Muy Bueno"){
								statusSelectLabel.innerHTML = "Condoción del inmueble: </i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='far fa-star text-warning'></i>";
							}
							if(statusSelect.value == "Bueno"){
								statusSelectLabel.innerHTML = "Condoción del inmueble: </i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='far fa-star text-warning'></i><i class='far fa-star text-warning'></i>";
							}
							if(statusSelect.value == "Regular"){
								statusSelectLabel.innerHTML = "Condoción del inmueble: </i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='far fa-star text-warning'></i><i class='far fa-star text-warning'></i><i class='far fa-star text-warning'></i>";
							}
							if(statusSelect.value == "A reciclar"){
								statusSelectLabel.innerHTML = "Condoción del inmueble: </i><i class='fas fa-star text-warning'></i><i class='fas fa-star text-warning'></i><i class='far fa-star text-warning'></i><i class='far fa-star text-warning'></i><i class='far fa-star text-warning'></i>";
							}
							if(statusSelect.value == "Precario"){
								statusSelectLabel.innerHTML = "Condoción del inmueble: </i><i class='fas fa-star text-warning'></i><i class='far fa-star text-warning'></i><i class='far fa-star text-warning'></i><i class='far fa-star text-warning'></i><i class='far fa-star text-warning'></i>";
							}
						}
						</script>
						
						<label>Metros cuad. cubiertos</label>   <i class="fas fa-square"></i> <input type="text" th:field="*{mcc}" placeholder="400" class="form-control" /><br>

						<label>Metros cuad. al descubierto</label>  <i class="far fa-square"></i><input type="text" th:field="*{mcd}" placeholder="400" class="form-control" /><br>
					
					</div>
				</div>
				
				<br>
				<h3>Detalle de Ambientes y partes comunes</h3>
				<hr size="3px">
				
				<div class="row">
					<div class="form-group col-md-2">
						<label><i class="fas fa-bed fa-fw"></i> Ambientes</label> <input type="number" class="form-control" /><br>
					
						<label><i class="fas fa-bath fa-fw"></i> Baños </label> <input type="number" class="form-control"/><br>

					</div>
					
					<div class="form-group col-md-2">
						 <label for="garageCoveredSelect">Garage cub. <i class="fas fa-car"></i></label>
						  <select class="form-control" id="garageCoveredSelect" onchange="garageCovered()"><br>
						    <option>No</option>
						    <option>Si</option>
						  </select>
						  
						  <div id="garageCoveredDiv"></div>
						  
						<script>
						function garageCovered(){
							var garageCoveredSelect = document.getElementById("garageCoveredSelect");
							var garageCoveredDiv = document.getElementById("garageCoveredDiv");
							
							if(garageCoveredSelect.value == "Si"){
								garageCoveredDiv.innerHTML = "<br><div><label>Garage m2 cub.</label> <input type='number' class='form-control' /></div><br>";
							}else{
								garageCoveredDiv.innerHTML = "";
							}
						}
						</script>
						  
					</div>
					
					<div class="form-group col-md-2">
						<label for="garageUncoveredSelect">Garage desc. <i class="fas fa-car" style="color:lightgrey;"></i></label><br>
						  <select class="form-control" id="garageUncoveredSelect" onchange="garageUncovered()">
						    <option>No</option>
						    <option>Si</option>
						  </select>
						  
					<div id="garageUncoveredDiv"></div><br>
						  
						<script>
						function garageUncovered(){
							var garageUncoveredSelect = document.getElementById("garageUncoveredSelect");
							var garageUncoveredDiv = document.getElementById("garageUncoveredDiv");
							
							if(garageUncoveredSelect.value == "Si"){
								garageUncoveredDiv.innerHTML = "<br><div><label>Garage m2 desc.</label> <input type='number' th:field='*{garaberoof}' class='form-control' /></div>";
							}else{
								garageUncoveredDiv.innerHTML = "";
							}
						}
						</script>
						   
					</div>
					
					<div class="form-group col-md-2">
						<label for="backGarden">Patio trasero <i class="material-icons">local_florist</i></label>
						  <select class="form-control" id="backGarden" >
						    <option>No</option>
						    <option>Si</option>
						  </select>
					</div>
						  
					<div class="form-group col-md-2">
						<label for="frontGarden">Patio delantero <i class="material-icons" style="color:lightgrey;">local_florist</i></label>
						  <select class="form-control" id="frontGarden" >
						    <option>No</option>
						    <option>Si</option>
						  </select>
					</div>
				
					
					<div class="form-group col-md-12">
					<h4>Otras características</h4>
					<hr>
						<label class="checkbox-inline"><input type="checkbox" value="">Parrilla independiente</label><br>
						<label class="checkbox-inline"><input type="checkbox" value="">Parrilla compartida</label><br>
						<label class="checkbox-inline"><input type="checkbox" value="">Quincho independiente</label><br>
						<label class="checkbox-inline"><input type="checkbox" value="">Quincho compartido</label><br>
						<label class="checkbox-inline"><input type="checkbox" value="">Pileta independiente</label><br>
						<label class="checkbox-inline"><input type="checkbox" value="">Pileta compartida</label><br>
						<label class="checkbox-inline"><input type="checkbox" value="">Calefaccion central</label><br>
					</div>
				</div>
				
				<br>
				<h3>Datos complementarios:</h3>
				<hr>
				<div class="row">
					<div class="form-group col-md-4">
					  <label for="selectSunOrientation">Orientación: <i class="fas fa-sun" ></i></label>
					  <select class="form-control" id="selectSunOrientation">
					    <option>Este</option>
					    <option>Oeste</option>
					    <option>Norte</option>
					    <option>Sur</option>
					  </select>
				<br>					  
					  <label for="expenses">Expensas o gastos comunes: <i class="fas fa-users"></i></label>
					  <select class="form-control" id="expenses">
					    <option>Si</option>
					    <option>No</option>
					  </select>
				<br>
					<label>Cercanías con: <i class="fas fa-plane"></i>, <i class="fas fa-train"></i>, <i class="fas fa-hospital"></i>, <i class="fas fa-bus"></i>, etc...</label> <textarea rows="5" placeholder="Hospitales, plazas, zonas comerciales, edificios públicos, accesos a autopistas o rutas, etc." class="form-control"></textarea>
					
					</div>
				</div>
				
				
				<br>
				<h3>Deudas o trabas:</h3>
				<hr>
				<div class="row">
					<div class="form-group col-md-5">
					  <label for="bebtsSelect">Detalle <i class="fas fa-gavel text-muted"></i></label>
						  <select class="form-control" id="bebtsSelect" onchange="debts()">
						    <option>Este inmueble no posee deudas ni trabas de ningún tipo</option>
							<option>Este local posee alguna deuda o traba</option>
						  </select>
					</div>
					
					<script type="text/javascript">
						function debts(){
							var bebtsSelect = document.getElementById("bebtsSelect");
							var debtsSelectDiv = document.getElementById("debtsSelectDiv");
							if(bebtsSelect.value == "Este local posee alguna deuda o traba"){
								debtsSelectDiv.innerHTML = "<label class='checkbox-inline'><input type='checkbox' value=''>Deuda Hipotecaria</label><br> <label class='checkbox-inline'><input type='checkbox' value=''>Deudas de impuestos</label><br> <label class='checkbox-inline'><input type='checkbox' value=''>En sucesión</label> <br><label class='checkbox-inline'><input type='checkbox' value=''>Embargo judicial</label> <br><label class='checkbox-inline'><input type='checkbox' value=''>Deudas judiciales en gral.</label> <br><label class='checkbox-inline'><input type='checkbox' value=''>Trabas judiciales en gral.</label><br><br><div class='alert alert-info text-center' role='alert'> Declarar una deuda o gravámen del inmueble en la publicación,  puede ser útil para blanquear problemas de los inmuebles y ser lo más transparente a la hora de vender.</div>";
							}else{
								debtsSelectDiv.innerHTML = "";
							}
						}
					</script>
					
				</div>
				
				<div id="debtsSelectDiv"></div>
				
				<br>
				<h3>Datos del vendedor:</h3>
				<hr>
				<div class="row">
					<div class="form-group col-md-4">
						<label>Nombre y Apellido</label> <input type="text" th:field="*{mcd}" placeholder="Armando Negocios" class="form-control" />
						<label>Matrícula Cucicba</label> <input type="number" th:field="*{mcd}" placeholder="271" class="form-control" />
						<label>Dirección inmobiliaria</label> <input type="text" th:field="*{mcd}" placeholder="Ej: Av. del Trabajo xxxx, Capital Federal" class="form-control" />
						
					</div>
					
					<div class="form-group col-md-4">
						<label>Celular 1</label> <input type="number" th:field="*{mcd}" placeholder="1549735722" class="form-control" />
						<label>Celular 2</label> <input type="number" th:field="*{mcd}" placeholder="1549735722" class="form-control" />
						<label>Teléfono inmobiliaria 1</label> <input type="number" th:field="*{mcd}" placeholder="1549735722" class="form-control" />
					</div>
					
					<div class="form-group col-md-4">
						<label>Fijo 1</label> <input type="number" th:field="*{mcd}" placeholder="46020468" class="form-control" />
						<label>Fijo 2</label> <input type="text" th:field="*{mcd}" placeholder="46020468" class="form-control" />
						<label>Teléfono inmobiliaria 2</label> <input type="number" th:field="*{mcd}" placeholder="1549735722" class="form-control" />
					</div>
					<div class="form-group col-md-4">
						<label>Facebook</label> <input type="text" placeholder="https://www.facebook.com/armando.negocios" class="form-control" />
					</div>
					<div class="form-group col-md-4">	
						<label>Pagina oficial de su inmobiliaria</label><input type="text" placeholder="http://www.suPaginaInmobiliaria.com" class="form-control" />
					</div>
				</div>
				<br>
				<br>
				<div class="form-group col-md-4" style="margin: 0 auto">
					<p>

						<button type="reset" class="btn btn-primary" >Limpiar<i class="fas fa-eraser"></i></button>
					</p>
				</div>
				</form>
						<button class="btn btn-primary" onclick="createQr()" >Crear QR <i class='fas fa-qrcode'></i></button>
		</div>

	</div>
				<br>
				<br>

<script>

function createQr(){
	  var xhttp = new XMLHttpRequest();
	 
	  xhttp.onreadystatechange = function() {
	    if (this.readyState == 4 && this.status == 200) {
	    	$.alert({
	    	    title: 'Alert!',
	    	    content: xhttp.responseText,
	    	});
	    }
	  };
	  xhttp.open("POST", "/RealStateHomeWeb/rest/qr/gen", true);
	  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhttp.send();
}

function createQrNow(){
	$.confirm({
		columnClass: 'medium',
		title: "Elija el tamaño dependiendo sus necesidades",
		type: "blue",
	    title: 'Medidas del Código QR',
	    content: '<a href>QR 170 x 170 pixels, aprox 6 x 6cm <i>(Apto acceso directo)</i></a> <br> <a href>QR 283 x 283 pixels, aprox 10 x 10 cm <i>(Apto acceso directo)</i></a> <br> <a href>QR 340 x 340 pixels, aprox 12 x 12 cm</a> <br> <a href>QR 510 x 510 pixels, aprox 18 x 18 cm</a>  <br> <a href>QR 710 x 710 pixels, aprox 25 x 25 cm <i>(Apto cartelería)</i></a>  <br> <a href>QR 850 x 850 pixels, aprox 30 x 30 cm <i>(Apto cartelería)</i></a><br> <a href>QR 1000 x 1000 pixels, aprox 35 x 35 cm <i>(Apto cartelería)</i></a>',

	});
}

</script>

<!-- Google maps -->

    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      
      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -34.6660468, lng: -58.4603016},
              zoom: 13,
              
            });

        // Create the autocomplete object, restricting the search to geographical
        // location types.
     	var   autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});
        
        /*Agregado crear marker*/
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });
        /*Agregado*/
        
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', /* fillInAddress)*/ function() {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
              // User entered the name of a Place that was not suggested and
              // pressed the Enter key, or the Place Details request failed.
              window.alert("No details available for input: '" + place.name + "'");
              return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
              map.fitBounds(place.geometry.viewport);
            } else {
              map.setCenter(place.geometry.location);
              map.setZoom(17);  // Why 17? Because it looks good.
            }
            marker.setIcon(/** @type {google.maps.Icon} */({
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            var address = '';
            if (place.address_components) {
              address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
              ].join(' ');
            }

            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
          });

      }
      /*agregado*/

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
          
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXElaikpcgfbkUdpvMgAR9ZIlnz3-6z2M&libraries=places&callback=initAutocomplete" async defer></script>
<!-- Google maps -->


	</div>

	<!-- Start Footer -->
	<div class="footer bg-secondary row" style="padding:5px;">
		<footer class="footer-info col-md-12">
			Todos los derechos reservados para
			<kbd>QR-Propiedades.com</kbd>
			| Diseñado y mantenido por
			<kbd>
				<a href="http://molokotech.com">Molokotech Solutions</a>
			</kbd>
			.
		</footer>
	</div>
</body>
</html>
