<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Start Libraries -->
<link href="https://fonts.googleapis.com/css?family=Francois+One|Oswald"
	rel="stylesheet">
<link rel="stylesheet" href="ndexStylesheet.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	<script type="text/javascript" src="bootstrap.min.js"></script>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery-confirm.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">


<!-- Icons -->
<script defer
	src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>


<!-- End Libraries -->
<title>Basic template</title>
</head>
<body style="font-family: 'Francois One', sans-serif;">


	<!-- Start nav bar -->
			<% include ../partials/nav.ejs %>

	<!-- End nav bar -->


	<div id="content">

		<div id="product" class="bg-light">
			<div>
				<div id="centralImage" class="row text-justify"
					style="padding-left: 10%; padding-top: 2%;">
					<div class="col-sm-7">
						<h1>Nuestros Servicios:</h1>
						Ofrecemos un servicio de información en la nube para propiedades,
						la cual mpermite a los potenciales clientes tener acceso a datos
						en tiempo real sobre el inmueble que no caberían dentro de los
						clásicos carteles de venta o alquiler, así también la posibilidad
						de una actualización de las cartillas de ventas y/o alquileres que
						habitualmente se observan en las vidrieras de las inmobiliarias. <br>
						Datos como cantidad de ambientes, metros cuadrados cubiertos,
						metros cuadrados descubiertos, antiguedad, apto crédito o no, más
						números de contacto, email, datos extra sobre las propiedades en
						cuestión, comentarios profesionales, recomendaciones sobre el tipo
						de uso de la misma, fotos y mucho más. <br> <br>
						<li>La cantidad y calidad de información es administrada por
							los usuarios, brindando la posibilidad de subir mucha información
							extra, útil para cerrar los negocios con más certeza.
						<li>Los únicos datos obligatorios en nuestro sistema son el
							nombre de referencia y la dirección del inmueble, el resto puede
							ser administrado a comodidad del usuario.
						<li>Los códigos QR son generados en 5 distintos tamaños, de
							menor a mayor tamaño, para que sean utilizados en libros de
							exposición, vidrieras con plantillas de diversos tamaños y hasta
							en carteles, facilitando el acceso a la información a transeuntes
							en cualquier horario del dia.
					</div>
					<div class="col-sm-5">
						<img alt="Resumen QR-Propiedades" src="cloud-home-qr.png"
							class="img-fluid"
							style="float: left; padding-left: 20px; padding-top: 2%;">
					</div>
				</div>


				<br>
				<div class="row text-justify">
					<div id="explanation" class="row text-justify">
						<div style="padding-left: 10%;" class="col-sm-6">
							<h2>El uso es muy simple:</h2>
							<ol>
								<li>Desde una pc o celular se loguea en nuestra web.</li>
								<li>Se llena el formulario y una vez completado se le da ok
									para subirlo a la nube.</li>
								<li>El servidor devolverá 5 links con 5 tamaños distintos
									de código QR para que usted elija el que más le convenga.</li>
								Dependiendo del plan en el que esté suscripto podrá generar una
								cantidad determinada de códigos QR.
								<li>Puede administrar la cantidad de datos almacenados en
									la Base de datos, agregando, modificando o borrando registros,
									ningún plan que ofrecemos se basa en la cantidad de información
									por cada propiedad asignada a un Qr, sino en la cantidad total
									de QR disponibles por plan.</li>
							</ol>
						</div>

						<div class="col-sm-6" style="padding-left: 5%;">
							<h2>Visto graficamente</h2>
							<hr>
							<h4>Para generar QR:</h4>
							<h2 style="color: lightblue;">
								<i class="fas fa-laptop"></i> <i
									class="fas fa-long-arrow-alt-right"></i> <i
									class="far fa-id-card"></i> <i
									class="fas fa-long-arrow-alt-right"> </i> <i
									class="fas fa-upload"></i> <i
									class="fas fa-long-arrow-alt-right"></i> <i
									class="fas fa-cloud"></i> <i
									class="fas fa-long-arrow-alt-right"> </i> <i
									class="fas fa-cloud-download-alt"></i> <i
									class="fas fa-long-arrow-alt-right"></i> <i
									class="fas fa-qrcode"></i>
							</h2>
							
							<hr>
							<h4>Para consumir el QR</h4>
							<h2 style="color: lightblue;">
								<i class="fas fa-mobile-alt"></i> <i
									class="fas fa-long-arrow-alt-right"></i> <i
									class="fas fa-qrcode"></i> <i
									class="fas fa-long-arrow-alt-right"></i> <i class="fas fa-list"></i>
							</h2>
						</div>

					</div>
				</div>
				<hr>

				<div class="row text-justify" style="padding-left: 10%;">
					<div class="col-sm-4">
						<h2>QR Propiedades individuales.</h2>
						Este servicio permite a los inmobiliarios contar con códigos QR de
						diversos tamaños para que puedan ser utilizados en diversas
						situaciones, desde folletos, plantillas de vidrieras, cuadernos y
						hasta carteles de venta de inmuebles para que los transeuntes
						accedan desde afuera de la propiedad, el acceso a la información
						permite que la negociación al momento de la venta o alquiler sea
						más simple ahorrando palabras y brindando sólo la información que
						al vendedor le parezca pertinente. Así como también es un avance
						tecnológico para actualizarse a los tiempos de hoy.
						<br>
						<br>
						<br>
						<button type="button" class="btn btn-primary btn-lg" style="text-align:center;" onclick="pricing()">Comenzar ahora <i class="fas fa-qrcode"></i></button>
						<script type="text/javascript">
						function pricing(){
							window.location.href="pricing.html";
						}
						</script>
					</div>

					<div class="col-sm-4">
						<h2>QR Complejos Habitacionales.</h2>
						Este servicio permite a los grupos de inversión, constructoras y
						otro tipo de inversión inmobiliaria que tengan proyectos en
						proceso de construcción, la posibilidad de mostrar información
						específica sobre las características de las propiedades en
						construcción o a punto de terminar, contando con un código QR
						único para todo el complejo, más grande que el proporcionado en el
						servicio de propiedades individuales. El acceso al QR permitirá al
						transeunte la posibilidad de ver datos detallados sobre cada uno
						de los pisos, terraza, SUM, gimnasio, lavadero e imágenes de cada
						uno de ellos.
						<br><br>
						<button id="habitationalComplex" type="button" class="btn btn-primary btn-lg" style="text-align:center;">Conectar</button>
					<script type="text/javascript">
					$( "#habitationalComplex").click(function() {
						$.alert({
							type:'blue',
						    title: '<h2>  <i class="fas fa fa-cog fa-spin"></i> Complejos Habitacionales</h2>',
						    content: '<br><div class="text-justify">Para contratar el servicio de QR a complejos habitacionales comunicarse con nosotros en alguna de las siguientes formas.<br><br> <h4><i class="fas fa-phone-volume"></i> 4602-0378</h4> <h4><i class="fas fa-at"></i> ventas@qrpropiedades.com</h4><br><button type="button" class="btn btn-success btn-lg" style="text-align:center;" onclick="contactForm()">Completar formulario</button></div>',
						    confirm: function(){
						        $.alert('Confirmed!'); // shorthand.
						    }
						});
					});
					
					
					</script>
					</div>

					<div class="col-sm-4">
						<h2>Software especializado.</h2>
						Realizamos tareas de desarrollo de software, tanto de "Rich Apps"
						como de "Cloud Apps" a medida para diversas empresas que quieren
						actualizar sus sistemas o aquellos que necesiten una mejora o
						personalización a los servicios previamente nombrados. Para este
						servicio es necesario comunicarse directamente con nuestras
						oficinas y concretar una reunión para pautar formas de pago,
						garantías y tiempos de desarrollo.
						<br><br><br><br><br>
						<button id="especializedsoftware" type="button" class="btn btn-primary btn-lg" style="text-align:center;">Conectar</button>
					<script type="text/javascript">
					
						$( "#especializedsoftware" ).click(function() {
							$.alert({
								type:'blue',
							    title: '<h2>  <i class="fas fa fa-cog fa-spin"></i>  Desarrollo de software</h2>',
							    content: '<br><div class="text-justify">Para realizar un presupuesto sobre el desarrollo de software especializado comunicarse mediante los siguientes medios para coordinar una reunión:<br><br> <h4><i class="fas fa-phone-volume"></i> 4602-0378</h4> <h4><i class="fas fa-at"></i> ventas@qrpropiedades.com</h4><br><button type="button" class="btn btn-success btn-lg" style="text-align:center;" onclick="contactForm()">Completar formulario</button></div>',
							    confirm: function(){
							        $.alert('Confirmed!'); // shorthand.
							    }
							});
						});
					
						function contactForm(){
							$.dialog({
							    title: '<h2>Formulario de contacto:</h2>',
							    content: '<div id="contactForm"><form><div class="form-group"><label for="name">Nombre:</label> <input type="text"class="form-control" id="name"></div><div class="form-group"><label for="lastname">Apellido:</label> <input type="text"class="form-control" id="lastname"></div><div class="form-group"><label for="email">E-mail:</label> <input type="email"class="form-control" id="email"></div><div class="form-group"><label for="telephone">Teléfono:</label> <input type="number"class="form-control" id="telephone"></div><div class="form-group"><label for="comment">Comentarios:</label><textarea class="form-control" rows="5" id="comment">Comente aquí el tipo de software que está precisando.</textarea></div><div><button type="submit" class="btn btn-primary btn-lg">Enviar fomulario</button></div></form></div>',
							});
						}
						
					</script>
					</div>

				</div>
				<br>
				<br>
				<hr>

				<div class="row">
					<div class="col-sm-12" style="text-align: center; padding-left:5%;">
						<h3>En resumen, para definir nuestro principal servicio podemos decir que es, <kbd>"nube"</kbd>, <kbd>"inmueble"</kbd> y <kbd>"qr"</kbd>.</h3>
					</div>
				</div>
				<br>

				<div id="process" class="row" padding-top:"2%;">
					<div class="col-sm-12" style="text-align: center;">
						<h1>
							<i class="fas fa-cloud"></i> + <i class="fas fa-home"> </i> + <iclass="fas fa-qrcode"></i> = Magia
						</h1>
					</div>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>

		</div>
	</div>

	<!-- Start Footer -->
	<div class="footer">
		<footer class="footer-info">
			Todos los derechos reservados para
			<kbd>QR-Propiedades.com</kbd>
			| Diseñado y mantenido por
			<kbd>
				<a href="http://molokotech.com">Molokotech Solutions</a>
			</kbd>
			.
		</footer>
	</div>
</body>
</html>